* {
  padding: 0;
  margin: 0;
  font-family: "Rockwell", "Courier New", monospace;
  color: #fff;
}

body {
  background-color: #060606;
}

#nav {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
}

#nav a {
  text-decoration: none;
  padding: 30px;
}

#nav a div {
  position: absolute;
  margin: auto;
  height: 10px;
  background-color: #fff;
}

#nav a:hover div {
  animation-name: hover;
  animation-duration: 2s;
  width: 100%;
}

#name {
  font-size: 100px;
  top: 200px;
  left: 10%;
  position: relative;
  animation-name: slideFromRight;
  animation-duration: 2s;
}

#bio {
  color: #3594d4;
  font-size: 30px;
  top: 200px;
  left: 10%;
  position: relative;
  animation-name: slideFromRight;
  animation-duration: 2s;
}

#portrait {
  background-image: url("IMG_0889.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  bottom: 10%;
  right: 8%;
  width: 30%;
  height: 600px;
  animation-name: slideUpPortrait;
  animation-duration: 2s;
}

#heading {
  display: inline-block;
  font-size: 90px;
  left: 10%;
  position: relative;
  animation-name: slideFromRight;
  animation-duration: 1s;
}

#subheading {
  color: #3594d4;
  display: inline-block;
  font-size: 30px;
  left: 11%;
  position: relative;
  animation-name: slideFromRightAfter;
  animation-duration: 2s;
}

#wrapper {
  position: relative;
  display: flex;
  height: 650px;
  margin: 10%;
  margin-top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  animation-name: slideUp;
  animation-duration: 1s;
}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 0;
  width: 60%;
  padding: 20px;
}

#contact input, textarea, button {
  padding: 1%;
  padding-top: 2%;
  line-height: 40px;
  margin: 1.5%;
  color: #000;
  font-size: 20px;
  border: 0;
}

#name-input {
  width: 45%;
  height: 45px;
}

#email-input {
  width: 45%;
  height: 45px;
}

#message-input {
  width: 95%;
  height: 150px;
}

#send {
  background-color: #3594d4;
  color: #fff;
  width: 40%;
  height: 45px;
  line-height: 50px;
  padding: 0;
}

#send:hover {
  background-color: #2b78ab;
}

.project {
  background-color: #333;
  display: block;
  width: 350px;
  height: 350px;
  text-decoration: none;
}

.project-photo {
  display: absolute;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#alcohol-photo {
  background-image: url("teens.jpg");
}

#avocado-photo {
  background-image: url("avocado.jpg");
}

#mnist-photo {
  background-image: url("mnist.png");
}

.project-heading {
  font-size: 18px;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}

.project-divider {
  background-color: #2e2e2e;
  width: 85%;
  height: 3px;
  margin: auto;
  margin-bottom: 8px;
}

.project-bio {
  font-size:14px;
  padding: 10px;
  padding-top: 0;
  text-align: center;
}

.notebook {
  width: 90%;
  height: 100%;
}

#about-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
  animation-name: slideUp;
  animation-duration: 1s;
}

#about-wrapper h1 {
  padding-bottom: 20px;
}

#about-wrapper h3 {
  display: inline-block;
}

#about-wrapper h5 {
  padding-bottom: 15px;
}

#about-wrapper ul {
  position: relative;
  left: 50px;
  padding-bottom: 15px;
}

#about-wrapper p {
  position: relative;
  left: 50px;
}

#about-wrapper p, li {
  padding-bottom: 3px;
}

.colored-header {
  color: #3594d4;
}

.divider {
  background-color: #333;
  height: 2px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1515px) {
  #name {
    font-size: 90px;
  }

  #bio {
    font-size: 28px;
  }

  #portrait {
    height: 550px;
    bottom: 15%
  }

  .project {
    height: 330px;
    width: 330px;
  }
}

@media only screen and (max-width: 1365px) {
  #name {
    font-size: 80px;
  }

  #bio {
    font-size: 25px;
  }

  #portrait {
    height: 500px;
    bottom: 22%
  }

  .project {
    height: 300px;
    width: 300px;
  }

  .project-heading {
    font-size: 16px;
  }

  .project-bio {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1210px) {
  #name {
    font-size: 80px;
    top: 100px;
  }

  #bio {
    font-size: 25px;
    top: 100px;
  }

  #portrait {
    height: 500px;
    width: 500px;
    bottom: 7%;
    right: 3%;
  }
}

@media only screen and (max-width: 875px) {
  #nav {
    justify-content: center;
    padding: 0;
  }

  #nav a div {
    height: 3px;
    width: 0;
    position: relative;
  }

  #nav a:hover div {
    animation-duration: .2s;
  }

  #name {
    left: 0;
    text-align: center;
    animation-name: slideFromRightToCenter;
    animation-duration: 2s;
  }

  #bio {
    left: 0;
    text-align: center;
    animation-name: slideFromRightToCenter;
    animation-duration: 2s;
  }

  #portrait {
    position: relative;
    margin: auto;
    top: 100px;
    right: 0;
  }

  #heading {
    font-size: 70px;
    text-align: center;
    left: 0;
    height: 70px;
    width: 100%;
    animation-name: slideFromRightToCenter;
    animation-duration: 2s;
  }

  #subheading {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    left: 0;
    width: 100%;
    animation-name: slideFromRightToCenter;
    animation-duration: 2s;
  }

  #contact {
    width: 90%;
    padding-top: 0;
  }

  #contact input, textarea, button {
    padding-left: 10px;
  }

  #name-input {
    width: 100%;
  }

  #email-input {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #name {
    top: 70px;
    font-size: 70px;
  }

  #bio {
    top: 70px;
    font-size: 21px;
  }

  #portrait {
    top: 70px;
  }
}

@media only screen and (max-width: 615px) {
  #name {
    top: 60px;
    font-size: 60px;
  }

  #bio {
    top: 60px;
    font-size: 18px;
  }

  #portrait {
    top: 60px;
  }

  #contact {
    width: 85%;
  }
}

@media only screen and (max-width: 535px) {
  #nav a {
    padding: 20px;
    font-size: 14px;
  }

  #name {
    top: 40px;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #bio {
    top: 40px;
    font-size: 15px;
  }

  #portrait {
    top: 40px;
    width: 400px;
    height: 400px;
  }

  #contact {
    width: 100%;
  }

  #contact input, textarea, button {
    font-size: 17px;
  }

  #heading {
    font-size: 50px;
    height: 50px;
  }

  #subheading {
    font-size: 17px;
  }
}

@media only screen and (max-width: 410px) {
  #nav a {
    padding: 15px;
    font-size: 12px;
  }

  #name {
    top: 35px;
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #bio {
    top: 35px;
    font-size: 13px;
  }

  #portrait {
    top: 35px;
    width: 300px;
    height: 350px;
  }

  #contact input, textarea, button {
    font-size: 13px;
  }

  #heading {
    font-size: 45px;
    height: 45px;
  }

  #subheading {
    font-size: 13px;
  }

  .project {
    height: 270px;
    width: 270px;
  }

  .project-heading {
    font-size: 13px;
  }

  .project-bio {
    font-size: 8px;
  }
}

@media only screen and (max-width: 300px) {
  #nav a {
    padding: 12px;
    font-size: 10px;
  }

  #name {
    top: 30px;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #bio {
    top: 30px;
    font-size: 12px;
  }

  #portrait {
    top: 30px;
    width: 250px;
    height: 330px;
  }

  #contact input, textarea, button {
    font-size: 12px;
  }

  #heading {
    font-size: 40px;
    height: 40px;
  }

  #subheading {
    font-size: 12px;
  }

  .project-photo {
    height: 65%;
  }
}

@keyframes hover {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes slideFromRight {
  0%   {left:-800px;}
  100% {left:10%;}
}

@keyframes slideFromRightToCenter {
  0%   {left:-800px;}
  100% {left:0;}
}

@keyframes slideFromRightAfter {
  0%   {left:-1100px;}
  40%  {left:-1100px;}
  100% {left:11%;}
}

@keyframes slideUp {
  0%   {margin-top: 25px;}
  100% {margin-top: 0px;}
}

@keyframes slideUpPortrait {
  0%   {bottom: 5%;}
  100% {bottom: 10%;}
}
